@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="card">
    <div class="card-body">
        <form method="post" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Nombre" class="form-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Clave" class="form-label"></label>
                <input asp-for="Clave" class="form-control" />
                <span asp-validation-for="Clave" class="text-danger"></span>
            </div>
            
            <button class="btn-primary btn">Login</button>
            <a class="btn btn-success" asp-action="registro">Crear una nueva cuenta</a>
        </form>

    </div>
</div>


@section Scripts {
<partial name="_ValidationScriptsPartial" />
}